/.vscode
/bikin game.cpp
/bikin game.exe
/coba 2.cpp
/coba 2.exe
/coba 3.cpp
/coba.cpp
/coba.exe
/Latihan.cpp
/Latihan.exe
/Praktikum proglan.cpp
/Praktikum proglan.exe
/Proglan.cpp
/Proglan.exe
/Tugas Dasprog Menggambar Grafik.cpp
/Tugas Dasprog Menggambar Grafik.exe